<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'Master/css/Master.css' %}" >
    {% block settings %}
    {% endblock %}
</head>
<body>
    <div class="header">
        <a href="{% url 'home' %}" class="Pump_Master">Pump Master</a>
    </div>
{% block home %}
{% endblock home %}
{% block calculations %}
{% endblock calculations %}
{% block characteristics %}
{% endblock characteristics %}
{% block pump_selection %}
{% endblock pump_selection %}
{% block index %}
{% endblock index %}
<div class="footer">
</div>
</body>
</html>