{% extends 'head.html' %}
{% load static %}
{% block title %}
    Подбор насоса index
{% endblock %}
{% block settings %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Pump_selection/css/style.css' %}"/>
    <title>Подбор насоса</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap"
          rel="stylesheet">
{% endblock %}

{% block index %}
    <div class="Container">
        <div class="header">
            <div class="Pump_Master">
                Pump Master
            </div>
        </div>

        <div class="main">
            <div class="chart_and_wrapper">

            <div class="wrapper">

                <div class="menu">
                    <form action="{% url 'pump_selection_index' %}" method="post" class="form">
                        {% csrf_token %}
                        {% for select in selects %}
                            <div class="menu_select">
                                {% if select.type == 'option' %}
                                    <span>{{ select.name }}</span>
                                    <select class="Region_1">
                                        {% for key in select.keys %}
                                            <option value="{{ key.value }}">{{ key.name }}</option>
                                        {% endfor %}
                                    </select>
                                {% elif select.type == 'input' %}
                                    <span>{{ select.placeholder }} </span>
                                    <label>
                                        <input class="Select_a_value" type="number" name="{{ select.name }}">
                                    </label>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <input class="button" type="submit" value="{{ button.1 }}">
                    </form>
                </div>
            </div>

            <div class="chart">
                {% if calculations.graph_url %}
                    <img src="data:image/png;base64,{{ calculations.graph_url }}" alt="Graph" width="500">
                {% endif %}
            </div>

        </div>

        <div class="table">
            <table border="1">
                <tr>
                    <th>Название</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Семейство</th>
                    <th>Подача</th>
                    <th>Давление</th>
                    <th>Кавитация</th>
                    <th>Частота вращения</th>
                    <th>Мощность</th>
                    <th>Масса</th>
                    <th>Общая массаl</th>
                </tr>
                {% for item in calculations.filter_pumps %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.family }}</td>
                        <td>{{ item.feed }}</td>
                        <td>{{ item.pressure }}</td>
                        <td>{{ item.cavitation }}</td>
                        <td>{{ item.rotation_speed }}</td>
                        <td>{{ item.power }}</td>
                        <td>{{ item.mass }}</td>
                        <td>{{ item.mass_all }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        </div>



        <div class="footer">
            <div class="Exit">
                <form action="{% url 'home' %}">
                    <input type="submit" value="{{ button.0 }}">
                </form>
            </div>
        </div>

    </div>

{% endblock %}