{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Pump_selection/css/style.css' %}" />
    <title>Подбор насоса</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="Container">
        <div class="wrapper">
            <div class="Pump-mode">
                <span>Режим расчёта:</span>
                <select class="Pump_mode" id="">
                    <option value="The_purpose_of_the_system">{{ select1 }}</option>
                </select>
            </div>
    
            <div class="Appointment">
                <span>Назначение:</span>
                <select class="Appointment_1" id="">
                    {% for select in select2 %}
                    <option value="{{ select.value }}">{{ select.name }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="Region">
                <span>Регион:</span>
                <select class="Region_1" id="">
                    {% for select in select3 %}
                    <option value="{{ select.value }}">{{ select.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <form action="{% url 'pump_selection_index' %}" method="post">
                {% csrf_token %}
            <div class="consumption">
                {% for input in input11 %}
                <span>{{ input.placeholder }} м<sup>3</sup>/ч:</span>
                <input class="Select_a_value" type="number" name="{{ input.name }}">
                {% endfor %}
            </div>
    
            <div class="Pressure">
                {% for input in input12 %}
                <span>{{ input.placeholder }} м.вод.ст.:</span>
                <input class="Select_a_value_2" type="number" name="{{ input.name }}">
                {% endfor %}
            </div>
            
            <div class="Environment">
                <span>Среда:</span>
                <select class="Environment_1" id="">
                    {% for select in select4 %}
                    <option value="{{ select.value }}">{{ select.name }}</option>
                    {% endfor %}
                </select>
            </div>
                
            <div class="temperature_environment">
                {% for input in input13 %}
                <span>{{ input.placeholder }} <sup>o</sup>C:</span>
                <input class="Select_a_value_3" type="number" name="{{ input.name }}">
                {% endfor %}
            </div>
            
            <div class="temperature_environment_and_preassure_max">
                {% for input in input14 %}
                <span>{{ input.placeholder }}</span>
                <input class="{{ input.class }}" type="number"name="{{ input.name }}">
                {% endfor %}
            </div>
            <div class="button">
                <input type="submit" value="{{ button2 }}">
            </div>
            </form>
            <div>
            <h2>Из базы данных</h2>
            <table border="1">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Family</th>
                    <th>Feed</th>
                    <th>Pressure</th>
                    <th>Cavitation</th>
                    <th>Rotation_speed</th>
                    <th>Power</th>
                    <th>Mass</th>
                    <th>Mass_all</th>
                </tr>
                {% for item in not_filter_pumps %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.family }}</td>
                        <td>{{ item.feed }}</td>
                        <td>{{ item.pressure }}</td>
                        <td>{{ item.cavitation }}</td>
                        <td>{{ item.rotation_speed }}</td>
                        <td>{{ item.power }}</td>
                        <td>{{ item.mass }}</td>
                        <td>{{ item.mass_all }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        </div>
        <div class="chart">
            {% if graph_url %}
            <img src="data:image/png;base64,{{ graph_url }}" alt="Graph">
        {% endif %}
        </div>
    </div>
</body>
</html>