<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подбор насоса</title>
</head>
<body>
<div>
    <form action="{% url 'home' %}">
        <input type="submit" value="{{ button1 }}">
        <br>
    </form>
    <form action="{% url 'pump_selection_index' %}">
        <input type="submit" value="{{ button3 }}">
        <br>
    </form>
</div>
<div class="MainWindow">
    <div class="InputField">
        <div>
            <form>
                <select size="1">
                    {% for select in select1 %}
                    <option value="t1">{{ select }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div>
            <form>
                <select size="1">
                    {% for select in select2 %}
                    <option value="t2">{{ select }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div>
            <form>
                <select size="1">
                    {% for select in select5 %}
                    <option value="t5">{{ select }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div>
            <form>
                <select size="1">
                    {% for select in select3 %}
                    <option value="t3">{{ select }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div>
            <form action="{% url 'pump_selection' %}" method="post">
                {% csrf_token %}
                {% for input in input1 %}
                <input type="float" placeholder="{{ input.placeholder }}" name="{{ input.name }}" value="{{ input.value }}">
                <br>
                {% endfor %}
                <input type="submit" value="{{ button2 }}">
            </form>
        </div>
        <div>
            <form>
                <select size="1">
                    {% for select in select4 %}
                    <option value="t4">{{ select }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>


            <div>
                {% if user_data is not None %}
                    <p>Вы ввели: {{ user_data }}</p>
                {% endif %}
                <p>Список a0: {{ total_a0 }}</p>
                <p>Список b0: {{ total_b0 }}</p>
                <p>Список c0: {{ total_c0 }}</p>
                <p>Для всех насосов Q2: {{ calc_q2_all }}</p>
                <p>Для всех насосов H2: {{ calc_h2_all }}</p>
                <p>Для всех насосов a: {{ calc_a_all }}</p>
                <p>Для 1-го насоса Q2: {{ calc_q2 }}</p>
                <p>Для 1-го насоса H2: {{ calc_h2 }}</p>
                <p>Для 1-го насоса a: {{ calc_a }}</p>
            </div>
        <div>
            <h2>Выборка из базы данных</h2>
            <table border="1">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Family</th>
                    <th>Feed</th>
                    <th>Pressure</th>
                    <th>Cavitation</th>
                    <th>Rotation_speed</th>
                    <th>Power</th>
                    <th>Mass</th>
                    <th>Mass_all</th>
                </tr>
                {% for item in filter_pumps %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.family }}</td>
                        <td>{{ item.feed }}</td>
                        <td>{{ item.pressure }}</td>
                        <td>{{ item.cavitation }}</td>
                        <td>{{ item.rotation_speed }}</td>
                        <td>{{ item.power }}</td>
                        <td>{{ item.mass }}</td>
                        <td>{{ item.mass_all }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="Plot">
        {% if graph_url %}
        <h2>График для 1-го насоса с наименьшей мощностью </h2>
        <img src="data:image/png;base64,{{ graph_url }}" alt="Graph">
        {% endif %}
    </div>
</div>

</body>
</html>