{% extends 'Master.html' %}
{% load static %}
{% block title %}
    Винтовой насос
{% endblock %}
{% block settings %}
    <link rel="stylesheet" href="{% static 'menu_block/css/menu_block.css' %}">
    <link rel="stylesheet" href="{% static 'Screw/css/Screw.css' %}"/>
{% endblock %}
{% block Screw %}
    <div id="block_application" class="block_application">
        <div class="secondary_block_application">
            <button class="button_menu" id="toggle_block">☰ Расчет винтового насоса</button>
            {% if message %}
                <div class="message">{{ message }}</div>
            {% endif %}
            <form action="{% url 'screw' %}" method="post" class="container" id="screw-form">
                {% csrf_token %}
                {% for cal in calc %}
                    {#                        <span class="Select">{{ cal.placeholder }}</span>#}
                    {#                        <label class="Select">#}
                    {#                            <input class="Select" type="{{ cal.type }}" name="{{ cal.name }}" value="{{ cal.value }}">#}
                    {#                        </label>#}
                    {% if cal.name == "diam"%}
                        <div class="menu_select">
                            <span class="Select">{{ cal.placeholder }}</span>
                            <label class="Select">
                                <input class="Select" type="{{ cal.type }}" name="{{ cal.name }}"
                                       value="{{ calculated_diam }}">
                            </label>
                        </div>
                    {% elif cal.name == "rotation_speed"%}
                        <div class="menu_select">
                            <span class="Select">{{ cal.placeholder }}</span>
                            <label class="Select">
                                <input class="Select" type="{{ cal.type }}" name="{{ cal.name }}"
                                       value="{{ calculated_rotation_speed }}">
                            </label>
                        </div>
                    {% elif cal.name == "flow_rate" and input_feed is not None %}
                        <div class="menu_select">
                            <span class="Select">{{ cal.placeholder }}</span>
                            <label class="Select">
                                <input class="Select" type="{{ cal.type }}" name="{{ cal.name }}"
                                       value="{{ input_feed }}">
                            </label>
                        </div>
                    {% elif cal.name == "pressure" and input_pressure is not None %}
                        <div class="menu_select">
                            <span class="Select">{{ cal.placeholder }}</span>
                            <label class="Select">
                                <input class="Select" type="{{ cal.type }}" name="{{ cal.name }}"
                                       value="{{ input_pressure }}">
                            </label>
                        </div>
                    {% elif cal.name == "turns" and turns is not None %}
                        <div class="menu_select">
                            <span class="Select">{{ cal.placeholder }}</span>
                            <label class="Select">
                                <input class="Select" type="{{ cal.type }}" name="{{ cal.name }}" value="{{ turns }}">
                            </label>
                        </div>
                    {% elif cal.name == "viscosity" and input_viscosity is not None %}
                        <div class="menu_select">
                            <span class="Select">{{ cal.placeholder }}</span>
                            <label class="Select">
                                <input class="Select" type="{{ cal.type }}" name="{{ cal.name }}"
                                       value="{{ input_viscosity }}">
                            </label>
                        </div>
                    {% elif cal.name != "density" %}
                        <div class="menu_select">
                            <span class="Select">{{ cal.placeholder }}</span>
                            <label class="Select">
                                <input class="Select" type="{{ cal.type }}" name="{{ cal.name }}">
                            </label>
                        </div>
                    {% endif %}
                {% endfor %}
                <input class="button" type="submit" name="calculate_params" value="Вычислить параметры">
                <input class="button" type="button" id="reset-button" value="Сброс значений">
                <input class="button" type="submit" name="calculate_params" value="Построить график">
                <input class="button" type="submit" name="download_model" value="Скачать модель">
            </form>
        </div>
    </div>

    <!-- Отображение ошибок -->

    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>

    {% if error %}
        <!-- Отображение рассчитанного диаметра -->
        <div>
            {% if calculations.user_diam is not None %}
                <p>Диаметр винта: {{ calculations.user_diam }}</p>
            {% endif %}
        </div>

        <!-- Отображение фактического расхода, КПД и мощности -->
        <div>
            {% if feed_real is not None %}
                <h3>Результаты расчета:</h3>
                <p>Фактический расход: {{ feed_real|floatformat:3 }} м³/ч</p>
                <p>Напор: {{ user_pressure|floatformat:3 }} м</p>
                <p>Объемный КПД: {{ kpd_volumetric|floatformat:3 }} %</p>
                <p>Механический КПД: {{ kpd_mechanical|floatformat:3 }} %</p>
                <p>Полный КПД: {{ kpd_total|floatformat:3 }} %</p>
                <p>Теоретическая мощность: {{ power_t|floatformat:3 }} кВт</p>
                <p>Эффективная мощность: {{ power_eff|floatformat:3 }} кВт</p>
                <p>Номинальная мощность: {{ power_nominal|floatformat:3 }} кВт</p>
            {% endif %}
        </div>

        <!-- Отображение логов -->
        {% if debug_test %}
            <div class="logs">
                <ul>
                    {% for log in logs %}
                        <li>{{ log }}</li>
                        {% empty %}

                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endif %}
    <!-- Отображение графиков -->
    {% if plots %}
        <div class="table-responsive">
            {% for plot in plots %}
                <div class="plot-container">
                    {{ plot|safe }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <script>
        function forcePlot() {
            const form = document.getElementById('screw-form');
            // Добавляем скрытое поле для force_plot
            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'force_plot';
            input.value = '1';
            form.appendChild(input);
            // Отправляем форму
            form.submit();
        }

        // Функция для сброса значений
        document.getElementById('reset-button').addEventListener('click', function () {
            // Находим только поля ввода (исключая кнопки)
            const inputs = document.querySelectorAll('#screw-form input[type="text"], #screw-form input[type="number"], #screw-form input[type="input"]',);
            inputs.forEach(input => {
                // Очищаем значение каждого поля
                input.value = '';
            });
        });
    </script>
{% endblock %}
