{% extends 'Master.html' %}
{% load static %}
{% block title %}
    Screw
{% endblock %}
{% block settings %}
    <link rel="stylesheet" href="{% static 'Screw/css/Screw.css' %}"/>
{% endblock %}
{% block Screw %}.
    <div>
        <form action="{% url 'screw' %}" method="post" class="form">
            {% csrf_token %}
            {% for cal in calc %}
                <label>
                <input type="{{ cal.type }}" name="{{ cal.name }}" placeholder="{{ cal.placeholder }}">
                </label>
            {% endfor %}
            <input class="button" type="submit" value="Скачать модель stl">
        </form>
    </div>
<div>
    {% if calculations.user_diam is not None %}
    <p>Диаметр винта: {{ calculations.user_diam }}</p>
    {% endif %}
</div>
    <div class="logs">
        <h3>Логи:</h3>
        <ul>
            {% for log in logs %}
                <li>{{ log }}</li>
            {% empty %}
                <li>Логи отсутствуют.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}