{% extends 'Master.html' %}
{% load static %}
{% block title %}
    Screw
{% endblock %}
{% block settings %}
    <link rel="stylesheet" href="{% static 'Screw/css/Screw.css' %}"/>
{% endblock %}
{% block Screw %}.
    <div>
        <form action="{% url 'screw' %}" method="post" class="form">
            {% csrf_token %}
            {% for cal in calc %}
                <label>
                    {% if cal.name == "diam" and calculated_diam %}
                        <input type="{{ cal.type }}" name="{{ cal.name }}" placeholder="{{ cal.placeholder }}" value="{{ calculated_diam }}">
                    {% elif cal.name == "rotation_speed" and calculated_rotation_speed %}
                        <input type="{{ cal.type }}" name="{{ cal.name }}" placeholder="{{ cal.placeholder }}" value="{{ calculated_rotation_speed }}">
                    {% elif cal.name == "feed" and input_feed is not None %}
                        <input type="{{ cal.type }}" name="{{ cal.name }}" placeholder="{{ cal.placeholder }}" value="{{ input_feed }}">
                    {% elif cal.name == "pressure" and input_pressure is not None %}
                        <input type="{{ cal.type }}" name="{{ cal.name }}" placeholder="{{ cal.placeholder }}" value="{{ input_pressure }}">
                    {% elif cal.name == "turns" and turns is not None %}
                        <input type="{{ cal.type }}" name="{{ cal.name }}" placeholder="{{ cal.placeholder }}" value="{{ turns }}">
                    {% elif cal.name == "viscosity" and input_viscosity is not None %}
                        <input type="{{ cal.type }}" name="{{ cal.name }}" placeholder="{{ cal.placeholder }}" value="{{ input_viscosity }}">
                    {% else %}
                        <input type="{{ cal.type }}" name="{{ cal.name }}" placeholder="{{ cal.placeholder }}">
                    {% endif %}
                </label>
            {% endfor %}
            <input class="button" type="submit" name="calculate_params" value="Вычислить параметры">
            <input class="button" type="submit" name="download_model" value="Скачать модель">
        </form>
    </div>
    {% if is_low_pressure %}
        <div class="alert alert-warning" role="alert">
            Внимание: давление слишком низкое, что может привести к некорректной работе насоса.
        </div>
    {% endif %}
<div>
    {% if calculations.user_diam is not None %}
    <p>Диаметр винта: {{ calculations.user_diam }}</p>
    {% endif %}
</div>
    <div class="logs">
        <h3></h3>
        <ul>
            {% for log in logs %}
                <li>{{ log }}</li>
            {% empty %}
                <li></li>
            {% endfor %}
        </ul>
    </div>
    {% if plots %}
        {% for plot in plots %}
            <div>
                {{ plot|safe }}
            </div>
        {% endfor %}
    {% else %}
        <p>Графики отсутствуют.</p>
    {% endif %}
{% endblock %}