{% extends 'Master.html' %}
{% load static %}
{% block title %}
    Тройники
{% endblock %}
{% block settings %}
    <link rel="stylesheet" href="{% static 'menu_block/css/menu_block.css' %}">
    <link rel="stylesheet" href="{% static 'Screw/css/Screw.css' %}"/>
{% endblock %}
{% block Flanges %}
<div>
        <form action="{% url 't_pipes' %}" method="post" class="container">
               {% csrf_token %}
               {% for select in selects %}
                <div class="menu_select">
                 <span class="Select">{{ select.placeholder }}</span>
                    <label class="Select">
                         <select class="Select" name="{{ select.name }}">
                             {% for key in select.keys %}
                                 <option value="{{ key.value }}"
                                    {% if key.value == select.value %}selected{% endif %}>
                                    {{ key.name }}
                                 </option>
                             {% endfor %}
                         </select>
                     </label>
                </div>
               {% endfor %}
               {% for cal in calc %}
                   <div class="menu_select">
                            <span class="Select">{{ cal.placeholder }}</span>
                            <label class="Select">
                                <input class="Select" name="{{ cal.name }}"
                                       type="{% if cal.type == 'float' %}number{% else %}{{ cal.type }}{% endif %}"
                                       value="{{ cal.value }}"
                                       step="0.1"
                                       max="{{ cal.max }}"
                                       min="{{ cal.min }}">
                            </label>
                   </div>
               {% endfor %}
            <input class="button" type="submit" name="calculate_params" value="Вычислить параметры">
        </form>
    </div>
{% endblock %}