@import url('sidebar.css');
:root {
    --primary-color: #002845;
    --hover-color: #1f6194;
    --secondary-color: #094775;
    --white-color: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}
html{
    height: 100%;
}
body{
    min-height: 100%;
    position: relative;
    margin: 0;
    padding-bottom: 80px;
}
input[type=button], input[type=submit]{
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    height: 50px;
    border-radius: 10px;
}
input[type=number] {
    width: 100%;
}
.header{
    height: 80px;
    background-color: var(--primary-color);
    width: 100%;
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}
.Pump_Master{
    color:  var(--white-color);
    z-index: 10;
    border: none;
    cursor: pointer;
    font-size: 32px;
    font-style:oblique;
    box-shadow: none;
    text-decoration: none;
}
.footer{
    z-index: 10;
    position: absolute;
    bottom: 0 ;
    height: 80px;
    background-color: var(--primary-color);
    display: flex;
    width: 100%;

}
