.header{
    height: 80px;
    background-color: #002845;
    width: 100%;
    display: flex;
    align-items: center;
}
.Pump_Master{
    color:  #fff;
    border: none;
    cursor: pointer;
    font-size: 32px;
    font-style:oblique;
    margin-left: 50px;
    box-shadow: none;
    text-decoration: none;
}
.footer{
    position: absolute;
    bottom: 0 ;
    height: 80px;
    background-color: #002845;
    display: flex;
    width: 100%;
}