* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}
.Container{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.header{
    height: 80px;
    background-color: #002845;
    width: 100%;
    display: flex;
    align-items: center;
}
.Pump_Master{
    color:  #fff;
    font-size: 32px;
    font-style:oblique;
    margin-left: 50px;
}
.Exit{
    text-align: center;
    height: 40px;
    border-radius: 5px;
    background-color: #002845;
    color:  #fff;
    width: 100px;
    gap: 5px;
    margin: 19.2px;
}
.values{
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 20px;
    padding: 20px;
    width: 400px;
}
.Get_a_feature{
    text-align: center;
    height: 50px;
    border-radius: 10px;
    background-color: #002845;
    color:  #fff;
    gap: 5px;
}
.footer{
    position: absolute;
    bottom: 0 ;
    height: 80px;
    background-color: #002845;
    display: flex;
    width: 100%;
}