
.Container{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.main{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}
.Exit{
    text-align: center;
    height: 40px;
    border-radius: 5px;
    background-color: #002845;
    color:  #fff;
    width: 100px;
    gap: 5px;
    margin: 19.2px;
    display: flex;
}
.values{
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 20px;
    padding: 20px;
    width: 400px;
}
.Get_a_feature{
    text-align: center;
    height: 50px;
    border-radius: 10px;
    background-color: #002845;
    color:  #fff;
    gap: 5px;
}