.Menu_select{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
input[type=submit] {
  width: 300px;
  margin-left: 10px;
}
