* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}
.Window{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 90px;
}
.header{
    height: 80px;
    background-color: #002845;
    width: 100%;
    display: flex;
    align-items: center;
}
.Pump_Master{
    color:  #fff;
    font-size: 32px;
    font-style:oblique;
    margin-left: 50px;
}
.main{
    padding: 20px;
}
.values{
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 20px;
    padding: 20px;
    width: 400px;
}
input[type=number], input[type=submit] {
    width: 100%;
}
.footer{
    position: absolute;
    bottom: 0 ;
    height: 80px;
    background-color: #002845;
    display: flex;
    width: 100%;
}